@import url("https://fonts.googleapis.com/css?family=Raleway|PT+Serif:700");

.quiz {
  width: 580px;
  margin: 5rem auto;
}

body {
  font-family: Raleway, Charcoal, sans-serif;
  color: #1a1a1a;
}

h2 {
  font-family: 'PT Serif', sans-serif;
  font-size: 2.2rem;
  text-align: center;
}

.tracker,
.tagline {
  text-align: center;
  margin: 2rem 0;
}

.tagline {
  font-size: 1.25rem;
  color: #ccc;
  font-weight: 500;
}

.choices {
  margin: 3rem 0;
}

.bar {
  width: 65%;
  margin: 2rem auto;
  background-color: #F5F5F5;
}

.progress-bar {
  width: 0;
  height: 10px;
  background-color: #F3A82F;
  border-right: 2px solid #1a1a1a;
}

label {
  display: block;
  margin: 2rem 0;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
}

input[type="radio"] {
  transform: translate(10px, -.8px);
}

button {
  font-family: Arial;
  font-size: 1rem;
  color: #1a1a1a;
  text-transform: uppercase;
  width: 100%;
  padding: .8rem;
  margin: 5px 0;
}