.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.notification {
  width: 100%;
  position: absolute;
  top: -9rem;
  text-align: center;
  font-size: 4rem;
  color: white;
  font-weight: 500;
}

.color-pallete {
  position: relative;
  width: 51.2rem;
  display: flex;
  flex-wrap: wrap;
}

.color {
  color: white;
  text-align: center;
  padding: 1rem 1rem 1.7rem;
}

.color > div {
  width: 8rem;
  height: 8rem;
  background-color: #ccc;
  border: 4px solid transparent;
  border-radius: 15px;
  margin-bottom: 13px;
  cursor: pointer;
}

.color > p {
  font-weight: 600;
  margin-top: 6px;
  cursor: pointer;
}