* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 280px;
  margin: 7px;
  cursor: pointer;
  border: 3px solid transparent;
}

.images {
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.selected-image {
  width: 700px;
  height: 100%;
  cursor: initial;
}

.image-gallery {
  width: 1300px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.selected {
  border: 3px solid green;
}